.Btn {
  float: right;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: 1px solid saddlebrown;
}

.Btn.Less {
  background: sandybrown;
}

.Btn.Less.Disable {
  background: #777;
  border-color: #555;
}

.Btn.More {
  background: brown;
}