.Calculator {
  width: 100%;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background: #e27b36;
}

.TotalPrice {
  margin-bottom: 20px;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Calculator {
    width: 700px;
    height: 600px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Calculator {
    width: 450px;
    height: 300px;
  }
}

@media (min-width: 500px) and (max-height: 400px) {
  .Calculator {
    width: 350px;
    height: 200px;
  }
}